
.Basket {
    width: 876px;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    margin-bottom: 36px;
}

.BasketSticky {
    position: sticky;
    top: -16px;
    z-index: 6;
    -webkit-backface-visibility: hidden;
}

.BasketSticky::before, .BasketSticky::after {
    content: '';
    display: block;
    height: 12px;
    /* make pseudo elements sticky as well */
    position: sticky;
    -webkit-position: sticky;
}

.BasketSticky::before {
    top: 48px; /* shadow is at bottom of element, so at 48 + 16 = 64px */
    box-shadow: 0 35px 20px -2px rgb(0 20 92 / 15%);
}

.BasketSticky::after {
    /* linear gradient from background color to transparent acts as
       a transition effect so the shadow appears gradually */
    background: linear-gradient(white 10%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.4) 70%, transparent);
    top: 0;
    /* cover should fall over shadow */
    z-index: 2;
}

.BasketDelivery {
    display: flex;
    justify-content: space-between;
    padding: 15px 44px 18px 29px;
    margin: 0 0 -14px 0;
    position: sticky;
    top: 0;
    background: white;
    z-index: 15;
    -webkit-backface-visibility: hidden;
}

.BasketDeliveryInfo {
    position: relative;
    cursor: pointer;
    padding: 3px 11px 0 0;
    background-image: repeating-linear-gradient(to right, #000000 0%, #000000 50%, transparent 50%, transparent 100%),
    repeating-linear-gradient(to right, #000000 0%, #000000 50%, transparent 50%, transparent 100%),
    repeating-linear-gradient(to bottom, blue 0%, blue 50%, transparent 50%, transparent 100%),
    repeating-linear-gradient(to bottom, blue 0%, blue 50%, transparent 50%, transparent 100%);
    background-position: left bottom, left bottom, left bottom, right bottom;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 9px 1px, 20px 0px, 0px 20px, 0px 20px;
}

.BasketChooseDeliveryInfo {
    position: relative;
    padding: 3px 11px 0 0;
    color: #243DA1;
    cursor: pointer;
    background-image: repeating-linear-gradient(to right, #243DA1 0%, #243DA1 50%, transparent 50%, transparent 100%),
    repeating-linear-gradient(to right, #243DA1 0%, #243DA1 50%, transparent 50%, transparent 100%),
    repeating-linear-gradient(to bottom, #243da1 0%, #243da1 50%, transparent 50%, transparent 100%),
    repeating-linear-gradient(to bottom, #243da1 0%, #243da1 50%, transparent 50%, transparent 100%);
    background-position: left bottom, left bottom, left bottom, right bottom;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 9px 1px, 20px 0px, 0px 20px, 0px 20px;
}

.BasketDeliveryInfo:hover, .BasketChooseDeliveryInfo:hover {
    color: #657EE2;
    cursor: pointer;
    background-image: repeating-linear-gradient(to right, #657EE2 0%, #657EE2 50%, transparent 50%, transparent 100%),
    repeating-linear-gradient(to right, #657EE2 0%, #657EE2 50%, transparent 50%, transparent 100%),
    repeating-linear-gradient(to bottom, blue 0%, blue 50%, transparent 50%, transparent 100%),
    repeating-linear-gradient(to bottom, blue 0%, blue 50%, transparent 50%, transparent 100%);
}

.BasketDeliveryInfo::after {
    content: "";
    position: absolute;
    top: 9px;
    width: 12px;
    height: 12px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('./../img/Vector2.png');
}

.BasketChooseDeliveryInfo:before, .BasketChooseDeliveryInfo:after {
    position: absolute;
    content: ' ';
    height: 8px;
    width: 2px;
    background-color: #243DA1;
    right: 9px;
    top: 12px;
}

.BasketChooseDeliveryInfo:hover:before,
.BasketChooseDeliveryInfo:hover:after {
    background-color: #657EE2;
}

.BasketChooseDeliveryInfo:before {
    transform: rotate(-45deg);
    right: 4px;
}

.BasketChooseDeliveryInfo:after {
    transform: rotate(45deg);
    right: 0;
}

.BasketDeliveryInfo:hover::after {
    content: "";
    position: absolute;
    background-image: url('./../img/Vector3.png');
}

.BasketDeliveryInfo:hover img {
    opacity: 0.5;
}

.BasketDeliveryCity {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
}

.BasketDeliveryDate {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding-right: 10px;
}

.BasketDeliveryLogo {
    padding-right: 9px;
    width: 39px;
    height: 11px;
    display: inline-block;
}

.BasketDeliveryLogo img {
    height: 20px;
    width: 40px;
    object-fit: cover;
}

.MeinInfo {
    width: 268px;
}

.Delivery {
    height: 324px;
    background-color: #ffffff;
    border-radius: 6px;
    margin-bottom: 26px;
}

.FullPrice {
    background-color: #ffffff;
    border-radius: 6px;
    height: 511px;
}

.DeliveryType {
    padding: 22px 0 0 30px;
}

.DeliveryTypeData {
    padding: 14px 0 0 31px;
}

.DeliveryTypeItem {
    margin-bottom: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #848DAF;
}

.BasketDeliverySubInfo {
    margin-top: 5px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    color: #848DAF;
}

.ProductContainer {
    margin-top: 10px;
}

.BasketChoosedDeliveryInfo {
    width: 310px;
}

.MobileBasketInput {
    display: none;
}

@media screen and (max-width: 1280px) {
    .Basket {
        width: 686px;
    }

    .BasketDeliveryInfo {
        padding: 3px 2px 0 0;
    }
}

@media screen and (max-width: 720px) {
    .Basket {
        width: 290px;
        margin: 10px auto 36px auto;
    }

    .BasketChoosedDeliveryInfo {
        width: unset;
    }

    .ProductContainer {
        padding-bottom: 20px;
        margin-top: 10px;
    }

    .BasketDeliverySubInfo {
        font-size: 10px;
        line-height: 12px;
        width: 250px;
    }

    .Basket:last-child {
        width: 290px;
        margin: 10px auto 10px auto;
    }

    .BasketDelivery {
        display: block;
        padding: 9px 0 8px 19px;
    }

    .BasketContent {
        margin: 0 auto;
    }

    .BasketDeliveryCity {
        font-size: 16px;
        line-height: 22px;
    }

    .BasketDeliveryInfo {
        margin: 12px 0 0 0;
        padding: 0;
        border: 1px solid #D7D7D7;
        box-sizing: border-box;
        border-radius: 3px;
        width: 250px;
        display: flex;
        background: none;
    }

    .BasketDeliveryDate {
        margin: 6px 0 6px 14px;
        width: 118px;
        font-size: 12px;
        line-height: 13px;
        vertical-align: sub;
        word-wrap: break-word;
    }

    .BasketDeliveryLogo {
        width: 52px;
        height: 23px;
        padding: 0;
        margin: 10px 0 0 25px;

    }

    .BasketDeliveryLogo img {
        width: 100%;
        margin: 0 auto;
    }

    .BasketDeliveryInfo::after {
        top: 13px;
        left: 225px;
    }

    .BasketSticky {
        height: unset;
        position: sticky;
        top: -16px;
        z-index: 2;
        padding-bottom: 15px;
    }

    .BasketSticky::before, .BasketSticky::after {
        all: initial;
    }

    .BasketSticky::before {
        top: 70px;
        box-shadow: 11px 35px 20px rgb(0 20 92 / 15%);
        width: 93%;
    }

    .BasketSticky::after {
        background: linear-gradient(white 10%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.4) 70%, transparent);
        top: 0;
        z-index: 2;
    }

    .BasketDeliveryInfo:hover {
        color: black;
        background-image: none;
    }

    .BasketChooseDeliveryInfo {
        background: #243DA1;
        height: 30px;
        width: 250px;
        color: white;
        margin-top: 15px;
        border-radius: 3px;
    }

    .BasketChooseDeliveryInfo:after {
        top: 9px;
        right: 9px;
        width: 12px;
        height: 12px;
    }

    .BasketChooseDeliveryInfo:before, .BasketChooseDeliveryInfo:after {
        position: absolute;
        content: ' ';
        height: 9px;
        width: 2px;
        background-color: white;
        right: 9px;
        top: 12px;
    }

    .BasketChooseDeliveryInfo:before {
        transform: rotate(-45deg);
        right: 18px;
    }

    .BasketChooseDeliveryInfo:after {
        transform: rotate(45deg);
        right: 12px;
    }

    .MobileBasketInput.isSticky {
        background-color: white;
        height: 32px;
        padding-left: 15px;
        display: block;
        position: sticky;
        top: -2px;
        z-index: 1000;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 5px;
        color: #768790;
    }

    .MobileBasketInput.isSticky div {
        display: none;
    }

    .MobileBasketInput input{
        display: none;
    }

    .MobileBasketInput input + label::before {
        content: '';
        margin-top: 6px;
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #ADB6D8;
        border-radius: 3px;
        margin-right: 11px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        background-color: white;
        vertical-align: text-bottom;
    }
}
